<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

<script type="text/javascript">

<f:for each="{streamioApis}" as="streamioApi">
    var streamioUserName = "{streamioApi.userName}";
    var streamioPassword = "{streamioApi.password}";
</f:for>
    
    var streamioApiUrl = "{settings.streamioApiUrl}";

    jQuery(document).ready(function() {
    
        jQuery.ajax({
            url: streamioApiUrl + "videos.json?tags=Wildlife",
            type: "GET",
            dataType: "JSONP",
            username: streamioUserName,
            password: streamioPassword,
            success: function(data, text, status) {
                console.log(data);
                console.log(text);
                console.log(status);
                /*jQuery('#mngoogleplus_userinfo').html(
                    "<a href='" + data.url + "'>" + data.displayName + "</a><br />" 
                    + data.gender +  "<br /><img src='" + data.image.url + "' alt='" + data.displayName + "'/>"
                );*/
            },
            error: function(err) {
                console.log(err);
            }
        });        
    
    });
    
</script>

</f:section>