<f:layout name="Default" />

<f:section name="main">
<link media="all" type="text/css" rel="stylesheet" href="typo3conf/ext/mn_streamio/Resources/Public/Css/mn_streamio.css" />

<f:flashMessages />

<script type="text/javascript">

<f:for each="{streamioApis}" as="streamioApi">
    var streamioRecordUid = "{streamioApi.uid}";
</f:for>
    
    var requestUrl = "{requestUrl}";
    //?eID=tx_mnstreamio_Streamio&tx_mnstreamio[action]=getStreamioVideosData&tx_mnstreamio[streamioUid]=1&tx_mnstreamio[searchQuery]=Test,Wildlife
    
    jQuery(document).ready(function() {
    
        //On search button click
        jQuery("#streamio_search_button").click(function() {
            var searchValue = jQuery("#streamio_search_input").val();
            if(searchValue != "") {
                jQuery.ajax({
                    url: requestUrl + "?eID=tx_mnstreamio_Streamio&tx_mnstreamio[action]=getStreamioVideosData&tx_mnstreamio[streamioUid]=" + streamioRecordUid 
                        + "&tx_mnstreamio[searchQuery]=" + searchValue,
                    type: "GET",
                    success: function(data) {
                        var items = "";
                        jQuery.each(jQuery.parseJSON(data), function() {
                            items += "<div class='streamio_search_result'><input type='hidden' value='" + this.id + "' class='streamio_search_result_item_id' /><div class='streamio_search_result_left'>" 
                            + "<img src='http://" + this.screenshot.thumb + "' alt='" + this.title + "' /></div>" 
                            + "<div class='streamio_search_result_right'><h3><a href='javascript:void(0);' class=''>" + this.title + "</a></h3><p>" + this.tags + "<br />" + this.description + "</p></div></div>";   
                        });
                        jQuery("#streamio_search_results").html(items);
                        console.log(data);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
            else {
                alert('<f:translate key="streamio_search_input_empty_label" />');
            } 
        });
        
        jQuery( "#dialog-modal" ).dialog({
			autoOpen: false,
			show: "blind",
			hide: "explode",
            modal: true
		});
        
    });
    
    function playStreamioVideo() {
        //On search result item click, then play video in modal window
        /*jQuery(".streamio_search_result").click(function() {
            var videoId = jQuery(this).find(".streamio_search_result_item_id").val();
            if(videoId != "") {
                alert(videoId);
            }
        });*/
        jQuery( "#dialog-modal" ).dialog( "open" );
			return false;
    }
    
</script>

<div id="streamio_search_container">

    <f:translate key="streamio_search_input_label" />
    <input type="text" id="streamio_search_input" />
    <input type="button" value="<f:translate key='streamio_search_button_label' />" id="streamio_search_button" />

    <div id="streamio_search_results"></div>

</div>

<!--<iframe class="streamio-player" type="text/html" width="480" height="270" src="http://streamio.com/api/v1/videos/4f292b7a11581e60ca00975a/public_show?skin=goplayer-white-skin.swf&loop=true&enable-rtmp=true&skin:show-title=true&skin:show-share-button=true&streamio:tracker=global" frameborder="0"></iframe>-->

<div id="dialog-modal" title="Basic modal dialog" style="display: none;">
	<p>Adding the modal overlay screen makes the dialog look more prominent because it dims out the page content.</p>
</div>

</f:section>